In [1]:
# dependencies
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
from citipy import citipy
import numpy as np
import time
import os

# establish openweather API key/url
file_name = "../../../PythonScripts/BootcampExercises/API_Keys/api_keys.json"
data = json.load(open(file_name))
key = data['openweather']
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
query_url = url + "appid=" + key + "&units=" + units + "&q="

# get olympic data files
csv_path = os.path.join("../Resources", "GDP_allyears.csv") #do not make changes
gdp = pd.read_csv(csv_path)
csv_path = os.path.join("../Resources", "country_participation.csv") #do not make changes
participation = pd.read_csv(csv_path)
csv_path = os.path.join("../Resources", "country_codes.csv") #do not make changes
codes = pd.read_csv(csv_path)

In [2]:
# clean/format participation data set
participation["TotalMedals"] = participation["Gold"] + participation["Silver"] + participation["Bronze"]
participation = participation.fillna(0)
participation["From"] = participation["From"].astype(int)
participation["To"] = participation["To"].astype(int)
participation["Gold"] = participation["Gold"].astype(int)
participation["Silver"] = participation["Silver"].astype(int)
participation["Bronze"] = participation["Bronze"].astype(int)
participation["Sports"] = participation["Sports"].astype(int)
participation["Participants"] = participation["Participants"].astype(int)
participation["TotalMedals"] = participation["TotalMedals"].astype(int)

In [8]:
# determine number of participation years
gameyears = [1924, 1928, 1932, 1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006, 2010, 2014]
for index, row in participation.iterrows():
    counter = 0
    To = row[2]
    From = row[1]
    for year in gameyears:
        if year >= From and year <= To:
            counter = counter+1
    participation.loc[index, "TotalYears"] = counter
participation["TotalYears"] = participation["TotalYears"].astype(int)

In [11]:
# find average medals per year per country
participation["AvgMedals"] = participation["TotalMedals"]/participation["TotalYears"]
participation["AvgMedals"] = round(participation["AvgMedals"])

In [12]:
participation

,Country,From,To,Participants,Sports,Gold,Silver,Bronze,TotalMedals,TotalYears,AvgMedals
0,Australia,1924,2014,240,14,5,3,4,12,22,0.545455
1,Austria,1924,2014,859,14,59,78,81,218,22,9.909091
2,Belgium,1924,2014,124,8,1,1,3,5,22,0.227273
3,Canada,1924,2014,1279,15,62,56,52,170,22,7.727273
4,Czechoslovakia,1924,1992,480,11,2,8,15,25,16,1.562500
5,Finland,1924,2014,723,12,42,62,57,161,22,7.318182
6,France,1924,2014,823,16,31,31,47,109,22,4.954545
7,Great Britain,1924,2014,642,16,10,4,12,26,22,1.181818
8,Hungary,1924,2014,206,10,0,2,4,0,22,0.000000
9,India,1924,2014,21,4,0,0,0,0,22,0.000000
10,Italy,1924,2014,938,16,37,34,43,114,22,5.181818
11,Latvia,1924,2014,194,12,0,4,3,0,22,0.000000
12,Nepal,1924,2014,3,2,0,0,0,0,22,0.000000
13,Norway,1924,2014,820,15,118,111,100,329,22,14.954545
14,Poland,1924,2014,511,15,6,7,7,20,22,0.909091
15,Sweden,1924,2014,902,14,50,40,54,144,22,6.545455
16,Switzerland,1924,2014,1007,15,50,40,48,138,22,6.272727
17,United States,1924,2014,1696,16,96,102,84,282,22,12.818182
18,Yugoslavia,1924,1992,235,10,0,3,1,0,16,0.000000
19,Argentina,1928,2014,136,8,0,0,0,0,21,0.000000
20,Estonia,1928,2014,94,8,4,2,1,7,21,0.333333
21,Germany,1928,2014,891,15,86,84,58,228,21,10.857143
22,Japan,1928,2014,798,15,10,17,18,45,21,2.142857
23,Lithuania,1928,2014,26,6,0,0,0,0,21,0.000000
24,Luxembourg,1928,2014,12,4,0,2,0,0,21,0.000000
25,Mexico,1928,2014,32,5,0,0,0,0,21,0.000000
26,Netherlands,1928,2014,214,8,37,38,35,110,21,5.238095
27,Romania,1928,2014,281,13,0,0,1,0,21,0.000000
28,Bulgaria,1936,2014,180,11,1,2,3,6,19,0.315789
29,Greece,1936,2014,66,8,0,0,0,0,19,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
89,Ukraine,1994,2014,198,13,2,1,4,7,6,1.166667
90,Uzbekistan,1994,2014,21,3,1,0,0,0,6,0.000000
91,Azerbaijan,1998,2014,13,2,0,0,0,0,5,0.000000
92,Kenya,1998,2006,1,1,0,0,0,0,3,0.000000
93,Macedonia,1998,2014,10,2,0,0,0,0,5,0.000000
94,Serbia and Montenegro,1998,2006,12,5,0,0,0,0,3,0.000000
95,Uruguay,1998,1998,1,1,0,0,0,0,1,0.000000
96,Venezuela,1998,2014,5,2,0,0,0,0,5,0.000000
97,Cameroon,2002,2002,1,1,0,0,0,0,1,0.000000
98,Hong Kong,2002,2014,4,1,0,0,0,0,4,0.000000
99,Tajikistan,2002,2014,2,1,0,0,0,0,4,0.000000
100,Thailand,2002,2014,3,2,0,0,0,0,4,0.000000
101,Albania,2006,2014,2,1,0,0,0,0,3,0.000000
102,Ethiopia,2006,2010,1,1,0,0,0,0,2,0.000000
103,Madagascar,2006,2006,1,1,0,0,0,0,1,0.000000
104,Cayman Islands,2010,2014,1,1,0,0,0,0,2,0.000000
105,Colombia,2010,2010,1,1,0,0,0,0,1,0.000000
106,Ghana,2010,2010,1,1,0,0,0,0,1,0.000000
107,Montenegro,2010,2014,3,1,0,0,0,0,2,0.000000
108,Pakistan,2010,2014,2,1,0,0,0,0,2,0.000000
109,Peru,2010,2014,3,2,0,0,0,0,2,0.000000
110,Serbia,2010,2014,15,5,0,0,0,0,2,0.000000
111,Dominica,2014,2014,1,1,0,0,0,0,1,0.000000
112,Individual Olympic Athletes,2014,2014,1,1,0,0,0,0,1,0.000000
113,Malta,2014,2014,1,1,0,0,0,0,1,0.000000
114,Paraguay,2014,2014,1,1,0,0,0,0,1,0.000000
115,Timor Leste,2014,2014,1,1,0,0,0,0,1,0.000000
116,Togo,2014,2014,2,2,0,0,0,0,1,0.000000
117,Tonga,2014,2014,1,1,0,0,0,0,1,0.000000
118,Zimbabwe,2014,2014,1,1,0,0,0,0,1,0.000000